body, .sticky-footer-wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}

#wrapper {
    overflow-x: hidden;
 }
 .navbar {
   margin-bottom: 0;
   border-radius: 0;
 }

 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
 .row.content {height: 450px}

 /* Set gray background color and 100% height */
 .sidenav {
   padding-top: 20px;
   background-color: #f1f1f1;
   height: 100%;
 }

 /* Set black background color, white text and some padding */
 footer {
   background-color: #555;
   color: white;
   padding: 15px;
   position: absolute;
   bottom:0px;
   min-width: 100%;
   max-width: 100%;
 }

 /* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
   .sidenav {
     height: auto;
     padding: 15px;
   }
   .row.content {height:auto;}
 }

/*Star rating*/
input[type="radio"]{
  -webkit-appearance: none;
  box-shadow:none;
  outline:none;
  cursor:pointer;
}
input[type="radio"]::after{
  content:'\2605';
  font-size:32px;
}
input[type="radio"]:invalid::after{
  color:#ccc;
}
.rating:hover input[type="radio"]:hover ~ input[type="radio"]:invalid::after,
.rating input[type="radio"]:focus ~ input[type="radio"]:invalid::after
{
  color:#ccc;
}
.rating input[type="radio"]:valid{
  color:orange;
}
.rating input[type="radio"]:checked ~ input[type="radio"]:not(:checked)::after
{
  content:'\2606';
  color:#ccc;
}

//settings Page
@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
.settings{
/*  background: linear-gradient(to right, #2ed573, #f9ca24);*/
  overflow-x: hidden;
}
.container{
  background: #fff;
  width: 540px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119,119, .5);
}
.leftbox{
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background:#2ed573;
  box-shadow: 3px 3px 10px rgba(119, 119,119, .5);
  border: .lem solid #fff;
}
.rightbox{
  display: none;
}
